ul.menubar{
	width: 148px;
	height: 300px auto;
	text-align: left;
	background-color: #7ab792;
	margin-left: 9px;
	padding: 1px;
	/*border: 1px solid #000;*/
	text-decoration: none;
}


li a{
	width: 148px;
	height: 30px;
	color: #FFFFFF;
	font-family: calibri;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	/*border-bottom: 1px inset #FFFFFF;*/
	/*border: 1px solid #000;*/
	display: block;
}	

ul, li a:hover{
	width: 148px;
	height: 30px;
	color: #7ab792;
	font-family: calibri;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	background-color: #FFFF99;
	text-align: left;
	border-top: 1px outset;
	/*border-bottom: 1px outset #FFFFFF;*/
}

